$font-family-sans-serif: Roboto, Helvetica, Arial, sans-serif;

$blue: #375a7f;
$red: #e74c3c;
$orange: #fd7e14;
$yellow: #f39c12;
$green: #00bc8c;
$cyan: #17a2b8;
$dark: #3b3b3b;
$light: #9e9e9e;

$indigo: #673ab7;
$purple: #654ea3;
$pink: #e83e8c;
$teal: #45b5aa;
$gray: #7e7e7e;
$gray-dark: #121212;

$white: #fafafa;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-600: #6c757d;
$gray-900: #212529;
$black: #000;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
$gray: $gray-200;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray": $gray,
  "white": $white,
  "black": $black
);

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);


$sidebar-width: 240px;
$sidebar-collapsed-width: 58px;
